


*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #dedede;

    width: 100dvw;


    align-items: center;

    font-size: 16px;
    hyphens: none;

    overflow-x: hidden;



    
}

div{
    padding-top: 4px;
    padding-bottom : 4px;
    width: 100%;
}

.doc-page{
    height: 297mm;
    width: 210mm;

    display: flex;
    flex-direction: column;

    background-color: white;


}

.doc-header{
    width: 100%;
    height: 20mm;
}

.doc-body{
    padding-left: 10mm;
    padding-right: 10mm;

    width: 100%;
}

.doc-footer{
    width: 100%;
    height: 20mm;
    margin-top: auto;
}


/* DOC Content Elements */

.doc-chapter{
    font-size: 20px;
    font-weight: bold;

    padding-bottom: 10px;
    padding-top: 10px;
}

.doc-title{
    font-size: 30px;
    text-align: center;
    font-weight: bold;

    padding-bottom: 10px;
    padding-top: 10px;
}

.doc-para{
    text-indent: 12mm;
}

/* NUMBERING */
.doc-numbering-content-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

}

.doc-numbering{
    width: 24px;
    text-align: right;
}


/* PAGE NUMBERING */
.doc-footerpageNumber{
    font-size: 14px;
    text-align: center;
    width: 100%;
}

@page{
    orientation: portrait;
    size: 'A4';
}



@media print {
    body{
        background-color: white;
    }

    .page{
        page-break-after: always;
    }
}